################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Angular2RoutesWithMvc/.vs/Angular2RoutesWithMvc/v15/Server/sqlite3
